<%- include("layouts/signinhead") %>
    <div class="container">
        <div class="sidebar" special>
            <div class="user-card">
                <img src="images/user.png" alt="user profile pic" height="45px">
                <div class="username-text">
                    Prem
                </div>
            </div>
            <div class="user-card">
                <img src="images/user.png" alt="user profile pic" height="45px">
                <div class="username-text">
                    Prem
                </div>
            </div>
            <div class="user-card">
                <img src="images/user.png" alt="user profile pic" height="45px">
                <div class="username-text">
                    Prem
                </div>
            </div>
            <div class="user-card">
                <img src="images/user.png" alt="user profile pic" height="45px">
                <div class="username-text">
                    Prem
                </div>
            </div>
            <div class="user-card">
                <img src="images/user.png" alt="user profile pic" height="45px">
                <div class="username-text">
                    Prem
                </div>
            </div>
            <div class="user-card">
                <img src="images/user.png" alt="user profile pic" height="45px">
                <div class="username-text">
                    Prem
                </div>
            </div>
            <div class="user-card">
                <img src="images/user.png" alt="user profile pic" height="45px">
                <div class="username-text">
                    Prem
                </div>
            </div>
            <div class="user-card">
                <img src="images/user.png" alt="user profile pic" height="45px">
                <div class="username-text">
                    Prem
                </div>
            </div>
            <div class="user-card">
                <img src="images/user.png" alt="user profile pic" height="45px">
                <div class="username-text">
                    Prem
                </div>
            </div>
            <div class="user-card">
                <img src="images/user.png" alt="user profile pic" height="45px">
                <div class="username-text">
                    Prem
                </div>
            </div>
            <div class="user-card">
                <img src="images/user.png" alt="user profile pic" height="45px">
                <div class="username-text">
                    Prem
                </div>
            </div>
            <div class="user-card">
                <img src="images/user.png" alt="user profile pic" height="45px">
                <div class="username-text">
                    Prem
                </div>
            </div>
            <div class="user-card">
                <img src="images/user.png" alt="user profile pic" height="45px">
                <div class="username-text">
                    Prem
                </div>
            </div>
            <div class="user-card">
                <img src="images/user.png" alt="user profile pic" height="45px">
                <div class="username-text">
                    Prem
                </div>
            </div>
            <div class="user-card">
                <img src="images/user.png" alt="user profile pic" height="45px">
                <div class="username-text">
                    Prem
                </div>
            </div>
        </div>
        <div class="chat-window">
            <div class="name-bar">
                Prem Sai
            </div>
            <div class="chat-box">
                <div class="rec-msg">Hello this message was receievd
                    <div class="time-text">10:53PM</div>
                </div>
                <div class="sent-msg">Hello this was sent
                    <div class="time-text">10:53PM</div>
                </div>
                <div class="rec-msg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt asperiores eius
                    quidem vero voluptas quam, similique doloremque dolorum illo quia laborum reiciendis libero
                    assumenda perspiciatis tempora, corporis eum? Facere, ex. Hello this message was receievd
                    <div class="time-text">10:53PM</div>
                </div>
                <div class="sent-msg">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur velit
                    eveniet porro sed sint sequi ab praesentium molestias veniam. Eum, illo beatae iure accusantium
                    aliquid nisi nulla totam deleniti cum. Hello this was sent
                    <div class="time-text">10:53PM</div>
                </div>
                <div class="sent-msg">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur velit
                    eveniet porro sed sint sequi ab praesentium molestias veniam. Eum, illo beatae iure accusantium
                    aliquid nisi nulla totam deleniti cum. Hello this was sent
                    <div class="time-text">10:53PM</div>
                </div>
                <div class="rec-msg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt asperiores eius
                    quidem vero voluptas quam, similique doloremque dolorum illo quia laborum reiciendis libero
                    assumenda perspiciatis tempora, corporis eum? Facere, ex. Hello this message was receievd
                    <div class="time-text">10:53PM</div>
                </div>
                
            </div>
            <div class="input-bar">
                <!-- <input class="input-box" type="text"> -->
                <textarea class="input-box" rows="1"></textarea>
                <div class="send-img">
                    <img src="images/send.png" alt="" height="40px">
                </div>
            </div>
        </div>
    </div>

    <script src="scripts/chat_script.js"></script>
    <%- include("layouts/signinfoot") %>