<%- include("layouts/presigninhead") %> 
<div class="container">
    <div class="container-card">
        <p class="card-text">
            Welcome to the all new MessagingApp made by me (Prem) as a learning project.
        </p>
        <img src="images/main-img-2.png" alt="">
    </div>
    <div class="disappear"></div>
    <div class="disappear"></div>
    <div class="container-card">
        <img src="images/user-profile.png" alt="">
        <p class="card-text">
            It is easy to get started with. All you need is to an username along with a password and you are ready to go.
        </p>
    </div>
</div>
<%- include("layouts/presigninfoot") %>