<%- include("layouts/presigninhead") %> 
<div class="container">
    <form action="/login" method="post">
        <div class="form-container">
            <div class="form-header">Please enter your crendentials</div>
            <div class="form-input-group">
                <input type="text" id="username" name="username" placeholder="Username">
            </div>
            <div class="form-input-group">
                <input type="password" name="password" id="password" placeholder="Password">
            </div>
                <button class="submit-btn" type="submit">Submit</button>

        </div>
        <br>
    </form>
</div>
<%- include("layouts/presigninfoot") %>