<%- include("layouts/presigninhead") %>
<div class="container">
    <form action="/signup" method="post">
        <div class="form-container">
            <div class="form-header">Please fill in your crendentials</div>
            <div class="form-input-group">
                <input type="email" id="email" name="email" placeholder="Email">
            </div>
            <div class="form-input-group">
                <input type="text" id="username" name="username" placeholder="Username">
            </div>
            <div class="form-input-group">
                <input type="password" name="password" id="password" placeholder="Password">
            </div>
            <div class="form-input-group">
                <input type="password" name="repassword" id="repassword" placeholder="Re-type Password">
            </div>
                <button class="submit-btn" type="submit">Submit</button>

        </div>
        <br>
    </form>
</div>
<%- include("layouts/presigninfoot") %>