/* rgb(53 51 52) */

body {
    background-image: url("../images/bg-pic-1.jpg");
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    color: white;
}

.full-container {
    position: relative;
    overflow-wrap: normal;
}

.container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10%;
    font-size: 1.35rem;
    font-weight: 600;
    padding: 4% 14%;
    color: rgb(255, 58, 91);
}

.container-card {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    border: 0.5rem solid rgb(255, 58, 91);
    margin: 0.5rem;
    border-radius: 1.4rem;
    background-color: whitesmoke;
    padding: 2rem;
}

img {
    height: 20vh;
}



@media screen and (max-width: 900px) {
    .container {
        grid-template-columns: auto;
        padding: 9% 5%; 
    }

    .disappear {
        display: none;
    }
}